# Server Configuration
PORT=8080
ENV=development # development/production

# MongoDB Configuration
MONGO_URI=
MONGO_DB_NAME=

# Redis Configuration (Optional)
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=

# JWT Authentication
JWT_ACCESS_SECRET==
JWT_ACCESS_EXPIRATION_MINS=15

JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRATION_MINS=10080

# AI estate RAG microservice
AI_ESTATE_RAG_URI=localhost:8000